.btn {
  height: 100px; 
  width: 180px;
  position: relative;
}

.purchase-btn-text {
  color: rgb(26, 79, 238);
  
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.purchase-btn-icon {
  background-color: aquamarine;
  height: 100%;
  width: 100%;
}
