<div id="wrapper_list" class="wrapper">
  <div class="show-wrapper">
    <p class="show-cording">
    閲覧する</br>
    Cording
    </p>
    <%= link_to "サインイン", root_path, class: "signin" %>
  </div>
  <div class="wrapper-lists">
    <%= link_to "Cordingのホーム", root_path, class: "show-home" %>
    <ul class="show-lists">
      <li>人気・新着の商品</li>
      <li>ランキング</li>
      <li>新着商品</li>
      <li>人気度ランキング</li>
    </ul>
    <ul class="show-lists">
      <li>トップカテゴリー</li>
      <li>ドラッグストア</li>
      <li>本</li>
      <li>パソコン</li>
    </ul>
    <ul class="show-lists">
      <li>プログラムと特典</li>
      <li>タイムセール</li>
      <li>プライムを試す</li>
      <li>Cordingランキング</li>
    </ul>
  </div>
</div>